@value makerLightGrey,makerWhite,makerLightPink from '../../common/colors.css';

.button {
  width: 100%;
  padding: 0.5rem;
  cursor: pointer;
}

.file {
  background-color: makerLightPink;
}

.no-file {
  background-color: makerLightGrey;
}
