@value makerLightGrey,makerWhite,makerLightPink from '../../common/colors.css';

.container {
  display: flex;
  width: 100%;
  height: 100%;
}

.input {
  display: none;
}

.button {
  width: 100%;
  padding: 0.5rem;
  cursor: pointer;
}

.button span {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.has-file {
  background-color: makerLightPink;
}

.no-file {
  background-color: makerLightGrey;
}
