@value makerGreen from '../../common/colors.css';

.maker {
  width: 100%;
  padding: 2rem 1rem;
  background-color: wheat;
}

.title {
  font-size: 1.5rem;
  font-weight: 600;
  text-align: center;
  color: makerGreen;
}
